<% if(success && success.length > 0 ){ %>
    <div class="alert alert-success col-md-6 offset-md-3 alert-dismissible fade show" role="alert">
        <%= success %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
<% } %>

<% if(fail && fail.length > 0){ %>
    <div class="alert alert-danger col-md-6 offset-md-3 alert-dismissible fade show" role="alert">
        <%= fail %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
<% } %>
