<% layout("/layouts/boilerplate") -%>

  <body>
    <style>
      .filters {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        margin-left: 5rem;
      }

      .filter {
        margin-right: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        opacity: 0.7;
        font-size: 0.9rem;

      }

      .filter:hover {
        opacity: 1;
        cursor: pointer;
      }

      a {
        text-decoration: none;
        color: black;
      }
      .gst-info{
        display: none;
      }
      .form-check{
        border: 2px solid black;
        border-radius: 1rem;
        padding-left: 4rem !important;
        padding-right: 1rem !important;
        margin-left: 5rem;
        height: 3rem;
        display: flex;
        align-items: center;
      }
      .form-check-input{
        margin-right: 1rem;
      }
    </style>
    <!-- <div class="container"> -->
      <div class="filters">
        <a href="/listings/trending">
          <div class="filter">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
          </div>
        </a>

        <a href="/listings/rooms">
          <div class="filter">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
          </div>
        </a>

        <a href="/listings/iconic-cities">
          <div class="filter">
            <div><i class="fa-solid fa-city"></i></div>
            <p>Iconic cities</p>
          </div>
        </a>

        <a href="/listings/mountains">
          <div class="filter">
            <div><i class="fa-solid fa-mountain"></i></div>
            <p>fa-mountains</p>
          </div>
        </a>

        <a href="/listings/amazing-pools">
          <div class="filter">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Amazing pools</p>
          </div>
        </a>

        <a href="/listings/castle">
          <div class="filter">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
            <p>Castles</p>
          </div>
        </a>

        <a href="/listings/camping">
          <div class="filter">
            <div><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
          </div>
        </a>

        <a href="/listings/farm">
          <div class="filter">
            <div> <i class="fa-solid fa-cow"></i></div>
            <p>Farm</p>
          </div>
        </a>

        <a href="/listings/arctic">
          <div class="filter">
            <div> <i class="fa-regular fa-snowflake"></i></div>
            <p>Arctic</p>
          </div>
        </a>

        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">Display total before taxes</label>
        </div>
      </div>

    <!-- </div> -->


    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-xs-1 offset-2">


      <% for(listing of allListings){ %>
        <a href="/listings/<%= listing.id %>">

          <div class="card listing-card">
            <img src="<%= listing.image.url %>" class="card-img-top" alt="listing image" style="height: 20rem;">
            <div class="card-img-overlay"></div>
            <div class="card-body">
              <p class="card-text">
                <b>
                  <div class="title">
                    <%= listing.title %>
                  </div>
                </b>
              <div class="price">&#8377;<%= listing.price.toLocaleString("en-IN") %>              <i class="gst-info">&nbsp;&nbsp; +18% GST</i></div>

              </p>
            </div>
          </div>
        </a>

        <% } %>

    </div>
  </body>

  <script>
    let toggler = document.getElementById("flexSwitchCheckDefault");
  toggler.addEventListener("click", () =>{
    console.log("clicked");
    let gst = document.getElementsByClassName("gst-info");
    for(info of gst){
      if(info.style.display != "inline"){
        info.style.display = "inline"
      }
      else{
        info.style.display = "none"
      }
    }
  });
  </script>